/buscas/BuscaSequencial/nbproject/private/
/buscas/BuscaSequencial/build/
/buscas/BuscaBinaria/nbproject/private/
/buscas/BuscaBinaria/build/
/buscas/Aula2/nbproject/private/
/buscas/Aula2/build/
/Poo/PooBasico/build/
