/buscas/BuscaSequencial/nbproject/private/
/buscas/BuscaSequencial/build/
/buscas/BuscaBinaria/nbproject/private/
/buscas/BuscaBinaria/build/
/buscas/Aula2/nbproject/private/
/buscas/Aula2/build/
/Poo/PooBasico/build/
/buscas/ContaBancaria/nbproject/private/
/Poo/ContaBancaria/build/
/Poo/ControleRemoto/nbproject/private/
/Poo/ControleRemoto/build/
/Poo/RelacionClasses/nbproject/private/
/Poo/RelacionClass/nbproject/private/
/Poo/RelacionClass/build/
/Poo/Leitura/nbproject/private/
/Poo/Leitura/build/
/Poo/Pessoa/nbproject/private/
/Poo/Heranca/nbproject/private/
/Poo/Heranca/build/
/Poo/AdmEscola/nbproject/private/
/Poo/AdmEscola/build/
