/BubbleSort/nbproject/private/
/BubbleSort/build/
/Metodos_de_ordenação/InsertionSort/nbproject/private/
/Metodos_de_ordenação/InsertionSort/build/
/Metodos_de_ordenação/SelectionSort/nbproject/private/
/Metodos_de_ordenação/SelectionSort/build/
